//-----Alment------//
$white:#fff;

// ------Nav Bar--------//
$dark-BG-Color: #333;
$BG-Act-Color: #555;
$BG-Hov-Color: #777;


//----------------------//

//-------Buttons--------//
$B-BG-Color:#007bff;
$H-BG-Color: #0056b3;

//----------------------//

//-------Checkbox-------//
//----------------------//

//----------text--------//
//----------------------//


//----------Box---------//
//----------------------//