@import "colors";

.Drop-D1 {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.check-Box label {
  font-size: 22px;
  margin-left: 20px;
  font-family: sans-serif;
}
.check-Box input:checked + label {
  font-weight: bold;
}

.check-Box input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

// Total pris disply kan styilas här
.TP-P1 {
  border: 0.1rem solid black;
  width: 20%;
  // grid-area: 3/2;
}
