// Vi har även en färdig h1 style att implementera vart vi vill!
// som går under class namnet rubrik

.rubrik {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  color: #333; /* Adjust color as needed */
}
