#root {
  margin: 0 auto;
}

.PizzaSizeDropdown {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
}

.Drop-D1 {
  grid-column: 1 / span 2; 
}

.check-Box {
  grid-column: 1 / span 2; 
}

.TP-P1 {
  grid-column: 1 / span 2; 
}

.cart {
  border: .1rem solid black;
  width: 20%;
}